# Root .gitignore (community_board/.gitignore)

# 1. Specific files and security related 
**/.env
**/*.jks
**/*.keystore

# Common to Flutter/Dart (applies to all subpackages)
**/.dart_tool/
**/build/
**/.packages
**/.pub-cache/
**/pubspec.lock 

# 3. IDE and OS files
.idea/
.vscode/
**/.DS_Store
